#### Strings Methods

    find & replace
    
    validation methods - islower, isupper, ...
    
    formatting

In [1]:
s = "      Hello World!    "

In [2]:
s = s.strip()

In [3]:
print(s)

Hello World!

### Find

In [15]:
s = """if you want to store some text data
you can store in string format in any language.
strings most common data type in history of programming."""

In [16]:
print(s)

if you want to store some text data
you can store in string format in any language.
strings most common data type in history of programming.

In [17]:
sub = "string" # pattern

In [18]:
index = s.find(sub) # start=0, end
print(index)

53

In [19]:
print(s[:index])

if you want to store some text data
you can store in

In [20]:
print(s[index:])

string format in any language.
strings most common data type in history of programming.

In [21]:
print(s)

if you want to store some text data
you can store in string format in any language.
strings most common data type in history of programming.

In [22]:
i = s.find('sachin')
print(i)

-1

In [23]:
i = s.find('string', 54)
print(i)

84

In [24]:
s = "hello world python is awesome"

In [26]:
s.find('python', 0, 11)

-1

In [32]:
s = """all dogs are not like cats.
all cats are not like dogs.
dogs are most loyal animal on earth."""
print(s)

all dogs are not like cats.
all cats are not like dogs.
dogs are most loyal animal on earth.

In [31]:
s1 = s.replace('dog', 'CAT')
print(s1)

all CATs are not like cats.
all cats are not like CATs.
CATs are most loyal animal on earth.

In [33]:
s1 = s.replace('dog', 'CAT', 1)
print(s1)

all CATs are not like cats.
all cats are not like dogs.
dogs are most loyal animal on earth.

In [34]:
s1 = s.replace('dog', 'CAT', 2)
print(s1)

all CATs are not like cats.
all cats are not like CATs.
dogs are most loyal animal on earth.

In [35]:
s = '$$$$$$$$$$$s$$$$$$$$$$$$$$$$$$$$a$$$$c$$$$$h$$$$i$$$$$$n$$$$$$$$$$$$'

In [36]:
s1 = s.replace('$', '')
print(s1)

sachin

#### Formatting

    examination form -> template

In [37]:
s = """mr. ________ is here bye filling form for ______ """

In [38]:
s = """
x = ___
y = ___

__ + __ = ____
"""

In [39]:
x = int(input())
y = int(input())

print("x = ", x)
print("y = ", y)
print(x, "+", y, "=", x + y)

4
5
x =  4
y =  5
4 + 5 = 9

#### Format

    oldest method - "x = %d", 5 , %d -> type specifier , d -> int
    
    str.format
    
    f"string" # f-string

In [40]:
s = """
x = %d
y = %d

%d + %d = %d
""" # template string

In [41]:
print(s)

x = %d
y = %d

%d + %d = %d

In [44]:
s = """
x = %d
y = %d
%d + %d = %d
"""

a = int(input("x: "))
b = int(input("y: "))
r = a + b

s1 = s%(a, b, a, b, r) # formatted string
print(s1)

x: 10
y: 90

x = 10
y = 90
10 + 90 = 100

%d - int

%f - float

%s - string

In [48]:
s = """
x = %d
y = %d
%d / %d = %.2f
"""

a = int(input("x: "))
b = int(input("y: "))
r = a / b

s1 = s%(a, b, a, b, r) # formatted string
print(s1)

x: 22
y: 7

x = 22
y = 7
22 / 7 = 3.14

In [49]:
s = """
My name is %20s.
I am not a %20s.
"""

In [50]:
s = """
My name is %20s.
I am not a %20s.
"""
s1 = s%("Khan", "Terrorist")
print(s1)

In [51]:
print(s1)

My name is                 Khan.
I am not a            Terrorist.

In [58]:
s = """
My name is %-20s.
I am not a %20s.
"""
s1 = s%("Khan", "Terrorist")
print(s1)

My name is Khan                .
I am not a            Terrorist.

In [63]:
"___.__"
" 30.12"
" 30.123"

' 30.123'

In [61]:
s = """
x = %5.2f
y = %6.3f
"""

x = y = 30.12345

In [62]:
print(s%(x, y))

x = 30.12
y = 30.123

In [82]:
s = """
x = %(x)10d
y = %(y)10d
%(x)d / %(y)d = %(r)5.2f
"""

a = int(input("x: "))
b = int(input("y: "))
r = a / b

s1 = s%({'x':a, 'y': b, 'r': r}) # formatted string
print(s1)

x: 22
y: 7

x =         22
y =          7
22 / 7 =  3.14

#### format

In [85]:

s = "my name is {} and i am not a {}."

# {} -> palace holder

In [84]:
print(s)

my name is {} and i am not a {}.

In [86]:
s1 = s.format("Khan", "Terrorist")

In [87]:
print(s1)

my name is Khan and i am not a Terrorist.

In [88]:
s = """
x = {}
y = {}
{} + {} = {}
"""

In [89]:
x = 22
y = 7
r = x + y

s1 = s.format(x, y, x, y, r)

print(s1)

x = 22
y = 7
22 + 7 = 29

`positional formatting`

In [91]:
s = """
x = {0}
y = {1}
{2} + {3} = {4}
"""

x = 22
y = 7
r = x + y
print(s.format(x, y, x, y, r))
#              0, 1, 2, 3, 4

x = 22
y = 7
22 + 7 = 29

In [95]:
s = """
x = {0}
y = {1}
{0} / {1} = {2:.2f}
"""

x = 22
y = 7
r = x / y
print(s.format(x, y, r))
#              0, 1, 2

x = 22
y = 7
22 / 7 = 3.14

`keyword formatting`

In [97]:
s = """
x = {a}
y = {b}
{a} / {b} = {c:.2f}
"""

x = 22
y = 7
r = x / y
print(s.format(a=x, b=y, c=r))
#              0, 1, 2

x = 10
y = 50
10 / 50 = 3.14

    < - left
    ^ - center
    > - right

In [101]:
s = """
My name is {:<20}. \tLeft   Justfication
I am not a {:>20}. \tRight  Justification
Python is  {:^20}  \tCenter Justification
"""
s1 = s.format("Khan", "Terrorist", "Awesome")
print(s1)

My name is Khan                . 	Left   Justfication
I am not a            Terrorist. 	Right  Justification
Python is        Awesome         	Center Justification

In [103]:
s = """
My name is {a:<20}. \tLeft   Justfication
I am not a {b:>20}. \tRight  Justification
Python is  {c:^20}  \tCenter Justification
"""
s1 = s.format(a="Khan", b="Terrorist", c="Awesome")
print(s1)

My name is Khan                . 	Left   Justfication
I am not a            Terrorist. 	Right  Justification
Python is        Awesome         	Center Justification

In [117]:
s = 12345

s = """
Decimal      Value of   {num} is {num}.
Binary       Value of   {num} is {num:b}.
Hexa Decimal Value of   {num} is {num:x}.
octal        Value of   {num} is {num:o}.
float        Value of   {num} is {num:f}.
""".format(num=s)
print(s)

Decimal      Value of   12345 is 12345.
Binary       Value of   12345 is 11000000111001.
Hexa Decimal Value of   12345 is 3039.
octal        Value of   12345 is 30071.
float        Value of   12345 is 12345.000000.

In [123]:
x = 12345

s = """
Decimal      Value of   {num:<20} is {num:>20}.
Binary       Value of   {num:<20} is {num:>20b}.
Hexa Decimal Value of   {num:<20} is {num:>20x}.
octal        Value of   {num:<20} is {num:>20o}.
float        Value of   {num:<20} is {num:20f}.
"""


print(s.format(num=x))

Decimal      Value of   12345                is                12345.
Binary       Value of   12345                is       11000000111001.
Hexa Decimal Value of   12345                is                 3039.
octal        Value of   12345                is                30071.
float        Value of   12345                is         12345.000000.

In [121]:
s = "{:^100}".format('Sachin Yadav')
print(s)

                                            Sachin Yadav

#### F-String

    it is only works on python version >= 3.6

In [124]:
a = int(input("x: "))
b = int(input("y: "))

s = f"""
a = {a}
b = {b}
{a} + {b} = {a/b:.2f}
"""

print(s)

x: 22
y: 7

a = 22
b = 7
22 + 7 = 3.14

In [126]:
name = input("Enter your name: ")


print(f"Hello, user {name:^20} welcome to Python Programming.")

Enter your name: Sachin
Hello, user        Sachin        welcome to Python Programming.

In [127]:
s = "hello world!"
cs = s.capitalize()

print(f"Capitalized version of {s} is {cs}.") # f-string

Capitalized version of hello world! is Hello world!.

In [128]:
del x

In [129]:
s = f"some variable {x}"

x = 20

NameError: name 'x' is not defined

In [130]:
"aldkjfldsjfsf".isalpha()

True

In [132]:
"aldkjfldsjfsf$".isalpha() # a-zA-Z

False

In [133]:
"827364832684638724".isnumeric()

True

In [134]:
"298343274 29384789374".isnumeric()

False

In [135]:
"             \n\n \t\t\t\t \n    ".isspace()

True

str.is<TAB>

In [ ]:
str.is

In [139]:
s = input()

if s.isnumeric():
    s = int(s)
else:
    print("Invalid Input")

sdklfjkdsfj
Invalid Input

In [137]:
int(input())

1234 235

ValueError: invalid literal for int() with base 10: '1234 235'

**LIST**

    {:x}