In [2]:
5 + 6

# 5, 6 is operands
# + is operator

11

    unary operator
    
                        +5, -6, ~10, not True 

    binary operator
    
                        4 + 5, True or False

    ternary operators
    
                        6 if 3 > 4 else 9

# Operators in Python

    1. Arithmatic Operators     +, -, *, /, %, //, **
    2. Comparision Operators    <, >, <=, >=, ==, !=
    3. Bitwise Operators        ~, |, &, ^, >>, <<
    4. Logical Operators        and, or, not
    5. Membership Operators     in, not in
    6. Identity Operators       is, is not
    7. Assignment Operators     =, +=, -=, *=, /=, //=, **=, %=

In [3]:
4 * 5 

4 + 4 + 4 + 4 + 4

20

In [4]:
5 + 6.0

11.0

In [6]:
3 - 29

-26

In [7]:
5 * 6

30

In [9]:
l = [1, 2,3 , 4] + [ 4, 5, 6, 7]
print(l)

[1, 2, 3, 4, 4, 5, 6, 7]

In [8]:
s = "Hello " + "World" # Concatenation
print(s)

Hello World

In [10]:
"Hello "* 5

'Hello Hello Hello Hello Hello '

In [11]:
data = [ 0 ] * 10
print(data)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [12]:
s1 = { 1, 2, 3, 4, 5, 6, 7, 8, 9}
s2  = { 4, 5, 6, 7,8 , 9, 10, 11, 12}

In [13]:
s = s1 - s2  # diffrence

In [14]:
print(s)

{1, 2, 3}

In [15]:
7 * 9

63

In [16]:
print(dir(int))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

##### 1. Arithmatic Operators 

    +       addition, plus                  __add__
    
    -       substraction, minus             __sub__
    
    *       multiplication, replication     __mul__
    
    /       true div                         __truediv__
    
    %       modulas                          __mod__
    
    //      floor division, int division      __floordiv__    
    
    **      exponent, power                   __pow__

In [17]:
x = 22
y = 7

In [20]:
r = 22 / 7

In [21]:
print(r)

3.142857142857143

In [22]:
r = 22 // 7 
print(r)

3

In [25]:
11.9 / 3

3.966666666666667

In [28]:
int(11.9 // 3)

3

In [29]:
6.02 // 3

2.0

In [30]:
34 / 4

8.5

In [31]:
34 // 4 # int div

8

In [32]:
22 / 7 # 3,

3.142857142857143

In [34]:
22 // 7 # int division int / int

3

$a^b = a**b$

In [35]:
a = 2
b = 3

r = a ** b

In [37]:
print(r)

8

In [39]:
r = 3 ** 4
print(r)

81

In [40]:
a = 121

b = 1/2

r = a ** b

print(r) # ?

11.0

#### Comparision Operators 

    <          less than             __lt__
    
    >          greater than          __gt__
    
    <=         less than or equal    __le__
    
    >=         greater than or equal __ge__
    
    ==         equal                 __eq__
    
    !=         not equal             __ne__

In [41]:
6 > 5

True

In [42]:
(6).__gt__(5)

True

In [43]:
int.__gt__(6, 5)

True

In [44]:
print(4 != 5) # True

print(5 == 5) # True

print( 6 >= 7) # False

print( 5 <= 5) # True

print( 4 < 4) # False

print( 6.0001 > 6) # True

True
True
False
True
False
True

### Bitwise Operators 

    ~    -      Bitwise Negation 2's compliment 
    
    |     -     Bitwise OR
    
    &     -     Bitwise AND
    
    ^     -     Bitwise XOR
    
    <<    -     Left Shift
    
    >>    -     Right Shift

In [52]:
a = 13
b = 6

In [53]:
ab = bin(a)
bb = bin(b)

print(ab[2:].zfill(6))
print(bb[2:].zfill(6))

001101
000110

    ~ operation -> add 1 bit to number and change sign

In [54]:
r1 = ~a
# 1101
# 0001
# 1110 # -14
r2 = ~b # you will add one bit to the number and reverse it sign
# 110
# 001
# 111  # -7

In [55]:
print(r1)
print(r2)

-14
-7

In [63]:
# 1101 -> 13 
# 0111 -> 7

In [64]:
# 1101 -> 13 
# 0111 -> 7
# 1111
r = 13 | 7
print(r)

15

In [61]:
int('100', 2)

4

In [66]:
# 8421
# 1101 -> 13 
# 0111 -> 7
# 0101
r = 13 & 7
print(r)

5

In [67]:
# 1101 -> 13 
# 0111 -> 7
# 1010
r = 13 ^ 7 # similar bits it is 0 else it is 1
print(r)

10

In [68]:
13 << 2

52

In [69]:
13 >> 1

6

In [70]:
13 >> 2

3

#### Logical Operators

    Logical AND    -    and                  &&
    
    Logical OR     -    or                   ||
    
    Logical NOT    -    not                   !

In [71]:
print(True and True)
print(False and True)
print(True and False)
print(False and False)

True
False
False
False

In [72]:
print(True or True)
print(False or True)
print(True or False)
print(False or False)

True
True
True
False

In [73]:
print(not True)
print(not False)

False
True

#### Membership Operators

In [74]:
s = "India is going to be a big economy soon."

In [75]:
'economy' in s

True

In [76]:
'sachin' not in s

True

In [77]:
'India' in s

True

In [78]:
names = [ 'ram', 'shyam', 'ghyanshyam', 'hari', 'mohan']

In [79]:
'shyam' in names

True

In [80]:
'sachin' in names

False

In [81]:
'sachin' not in names

True

In [82]:
d = { 'one': 1, 'two': 2, 'three': 3}

In [83]:
print(d)

{'one': 1, 'two': 2, 'three': 3}

In [84]:
'two' in d.keys()

True

In [85]:
2 in d.values()

True

In [86]:
('three', 3) in d.items()

True

In [88]:
s = { 1, 2,3 , 4, 5, 6,7 ,8, 9, 10, 11, 12}

In [89]:
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [90]:
11 in s

True

    && == and 

    || == or

#### Membership Operator

    is, is not

In [93]:
x = 5
y = 5

In [95]:
print(id(x), id(y), sep='\n')

140712271493024
140712271493024

In [96]:
print(id(x) == id(y)) # == check values

True

In [97]:
x is y # check id's

True

In [98]:
x = 300

In [99]:
y = 300

In [100]:
print(id(x))

2420236051376

In [101]:
print(id(y))

2420236052080

In [102]:
print(id(x) == id(y))

False

In [103]:
print(x is y)

False

In [104]:
print(x == y)

True

In [105]:
a = [ 1, 2]
b = a

In [106]:
print(id(a), id(b), sep='\n')

2420235711808
2420235711808

In [107]:
print(id(a) == id(b))

True

In [108]:
a is b

True

In [109]:
print(a)

[1, 2]

In [110]:
print(b)

[1, 2]

In [111]:
b.append(100)

In [112]:
print(a)

[1, 2, 100]

In [113]:
del a[0]

In [114]:
print(b)

[2, 100]

## Assignment Operators

(0-256)

In [115]:
bin(255)

'0b11111111'

    2 gb --> 2048 MB 

    1 MB = 1024 bytes

    1 bytes = 8bits

    RAM -> 8bit

In [116]:
x = 5

In [117]:
x, y = 'hi', 'hello'

In [118]:
print(x, y)

hi hello

In [119]:
x = 5
y = 6

x, y = y, x

# x, y = 6, 5


print("x = ", x)
print("y = ", y)

x =  6
y =  5

#### Tuple Unpacking

In [120]:
a, b, c = ( 'one', 'two', 'three')

In [121]:
print(a, b, c)

one two three

In [124]:
x = 5


x += 5 # x = x + y  #inplace addtion

In [125]:
print(x)

10

In [126]:
a = 5
b = 9

In [127]:
a *= b 

# a = a * b

print(a)

45

In [128]:
a = 22

b = 7

a /= b

# a = a / b

print(a)

3.142857142857143

#### Task 

    Operators in Detail
    
    Precedence of Operators

### Algorithms & Control Statements

    if-else

    core python -> 40 % covered

    --c

    c--

In [129]:
c = 0
c += 1

In [130]:
c -= 10

In [131]:
print(c)

-9

In [132]:
### Till IF-Else, LOOPs, Functions