In [1]:
def methods(dtype):
    print(*[function for function in dir(dtype) if function[0].islower()], sep='\n')

In [2]:
methods(dict)

clear
copy
fromkeys
get
items
keys
pop
popitem
setdefault
update
values

In [3]:
d = {'name': 'Sachin Yadav', 'age': 25 }

In [4]:
d['color'] = 'fair'

In [5]:
v = d['age']
print(v)

25

In [6]:
dd = d.copy()

In [8]:
print(d, id(d))
print(dd, id(dd))

{'name': 'Sachin Yadav', 'age': 25, 'color': 'fair'} 2545332848448
{'name': 'Sachin Yadav', 'age': 25, 'color': 'fair'} 2545333072640

In [9]:
dd.clear() # it will remove all key-value pairs from dictionary

In [10]:
print(dd)

{}

In [11]:
print(d)

{'name': 'Sachin Yadav', 'age': 25, 'color': 'fair'}

In [12]:
v = d.get('name', 'not found') # d.get(key, default_value) return value if key available else it returns default value
print(v)

Sachin Yadav

In [14]:
v = d.get('blood group')
print(v)

None

In [13]:
v = d.get('blood group', 'not found')
print(v)

not found

In [15]:
d

{'name': 'Sachin Yadav', 'age': 25, 'color': 'fair'}

In [16]:
d.update(name= "Sachin", blood_group = 'B+ive', country='India')
# it will update existing key-value pairs as well as will add new key-value pairs to dictionary

In [17]:
print(d)

{'name': 'Sachin', 'age': 25, 'color': 'fair', 'blood_group': 'B+ive', 'country': 'India'}

In [18]:
d.update([ ('name', "Sachin Yadav"), ('language', ['hindi', 'english'])  ])

In [20]:
from pprint import pprint

In [21]:
pprint(d)

{'age': 25,
 'blood_group': 'B+ive',
 'color': 'fair',
 'country': 'India',
 'language': ['hindi', 'english'],
 'name': 'Sachin Yadav'}

`setdefault`

In [22]:
value = d.setdefault('name', 'Jadu') # d.setdefault(key, default value)
# it will check whether you have that key in dictionary or not
# if key is there in dictionary than it will return corrosponding value to that key
# else if key is not there than it will update dictionary with this new key and default value

In [23]:
print(value)

Sachin Yadav

In [24]:
value = d.setdefault('city', 'Jaipur')
print(value)

Jaipur

In [26]:
pprint(d)

{'age': 25,
 'blood_group': 'B+ive',
 'city': 'Jaipur',
 'color': 'fair',
 'country': 'India',
 'language': ['hindi', 'english'],
 'name': 'Sachin Yadav'}

In [27]:
value = d.setdefault('religion')
print(value)

None

In [29]:
pprint(d)

{'age': 25,
 'blood_group': 'B+ive',
 'city': 'Jaipur',
 'color': 'fair',
 'country': 'India',
 'language': ['hindi', 'english'],
 'name': 'Sachin Yadav',
 'religion': None}

In [30]:
value = d.pop('country', 'key does not exists')
print(value)

India

In [31]:
pprint(d)

{'age': 25,
 'blood_group': 'B+ive',
 'city': 'Jaipur',
 'color': 'fair',
 'language': ['hindi', 'english'],
 'name': 'Sachin Yadav',
 'religion': None}

In [32]:
value = d.pop('country', 'key does not exists')
print(value)

key does not exists

In [33]:
value = d.pop('abcd')

KeyError: 'abcd'

In [34]:
item = d.popitem()
# it will delete last added key-value pair from dictionary

In [35]:
print(item)

('religion', None)

In [36]:
pprint(d)

{'age': 25,
 'blood_group': 'B+ive',
 'city': 'Jaipur',
 'color': 'fair',
 'language': ['hindi', 'english'],
 'name': 'Sachin Yadav'}

In [37]:
item = d.popitem()
# it will delete last added key-value pair from dictionary

In [38]:
print(item)

('city', 'Jaipur')

In [39]:
pprint(d)

{'age': 25,
 'blood_group': 'B+ive',
 'color': 'fair',
 'language': ['hindi', 'english'],
 'name': 'Sachin Yadav'}

In [40]:
keys = list(d.keys())
print(keys)

['name', 'age', 'color', 'blood_group', 'language']

In [41]:
keys = list(d.values())
print(keys)

['Sachin Yadav', 25, 'fair', 'B+ive', ['hindi', 'english']]

In [42]:
keys = list(d.items())
print(keys)

[('name', 'Sachin Yadav'), ('age', 25), ('color', 'fair'), ('blood_group', 'B+ive'), ('language', ['hindi', 'english'])]

In [43]:
methods(dict)

clear
copy
fromkeys
get
items
keys
pop
popitem
setdefault
update
values

In [44]:
nd = d.fromkeys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 0)

In [45]:
pprint(nd)

{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0}

In [46]:
keys = [ 1, 2, 3, 4, 5 ]
values = [ 'one', 'two', 'three', 'four', 'five']
d1 = dict(zip(keys, values))

In [47]:
d = dict(zip(keys, values))

In [48]:
print(d)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [49]:
d.update(zip([6, 7], ['six', 'seven']))

In [50]:
d

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six', 7: 'seven'}

In [60]:
d1 = dict(zip((2, 8, 9, 10), ['two', 'eight', 'nine', 10]))

In [61]:
d1

{2: 'two', 8: 'eight', 9: 'nine', 10: 10}

In [62]:
d.update(d1)

In [63]:
d

{1: 'one',
 2: 'two',
 3: 'three',
 4: 'four',
 5: 'five',
 6: 'six',
 7: 'seven',
 8: 'eight',
 9: 'nine',
 10: 10}

In [64]:
d1

{2: 'two', 8: 'eight', 9: 'nine', 10: 10}

In [65]:
keys = [ 1, 2, 3, 4, 5 ]
values = [ 'one', 'two', 'three', 'four', 'five']
d2 = dict(zip(keys, values))

In [66]:
d1

{2: 'two', 8: 'eight', 9: 'nine', 10: 10}

In [67]:
d2

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [68]:
nd = { **d1, **d2 }

In [69]:
nd

{2: 'two',
 8: 'eight',
 9: 'nine',
 10: 10,
 1: 'one',
 3: 'three',
 4: 'four',
 5: 'five'}

In [70]:
lst = [ 1, 6.2, 'hello', [1,2 , 3], (1, 2, 3), {1: 'one', 2: 'two'} ]
print(lst)

[1, 6.2, 'hello', [1, 2, 3], (1, 2, 3), {1: 'one', 2: 'two'}]

In [71]:
d = { 
    'name': [ 'sachin', 'rajat'],
    'pi': 3.14,
    'python': {
        'name': 'python',
        'father': 'guido van rossum'
    }
}

## Sets 

    Mutable
    
    Unordered Data Type
    
    Collection of Unique Hashable Values (set only stores immutable values)
    
    set-theory - union, intersection, difference, ...

In [75]:
s = { 1, 1, 2, 3, 1, 3, 4, 1, 2, 3, 4, 1, 2, 3 , 4, 1, 2, 3, 4, 5, 1, 2, 3 ,4}
print(type(s))

<class 'set'>

In [76]:
print(s)

{1, 2, 3, 4, 5}

In [77]:
s.add(6)

In [78]:
print(s)

{1, 2, 3, 4, 5, 6}

In [79]:
s.add(5)

In [80]:
print(s)

{1, 2, 3, 4, 5, 6}

In [84]:
s.add(10) # append

In [85]:
print(s)

{1, 2, 3, 4, 5, 6, 10}

In [86]:
s.update([1, 5, 9, 13, 14, 16, 15]) # extend

In [87]:
print(s)

{1, 2, 3, 4, 5, 6, 9, 10, 13, 14, 15, 16}

In [89]:
s.add(1001)

In [90]:
s

{1, 2, 3, 4, 5, 6, 9, 10, 13, 14, 15, 16, 1001}

In [91]:
s.add('sachin')

In [92]:
s

{1, 10, 1001, 13, 14, 15, 16, 2, 3, 4, 5, 6, 9, 'sachin'}

In [93]:
value = s.pop() # shift + TAB
print(value)

1

In [94]:
value = s.pop()
print(value)

2

In [95]:
s

{10, 1001, 13, 14, 15, 16, 3, 4, 5, 6, 9, 'sachin'}

In [96]:
s.remove(1001)

In [97]:
print(s)

{3, 4, 5, 6, 'sachin', 9, 10, 13, 14, 15, 16}

In [98]:
s.remove('yadav')

KeyError: 'yadav'

In [99]:
s

{10, 13, 14, 15, 16, 3, 4, 5, 6, 9, 'sachin'}

In [100]:
s.discard('sachin')

In [101]:
print(s)

{3, 4, 5, 6, 9, 10, 13, 14, 15, 16}

In [102]:
s.discard('yadav')

In [103]:
s1 = s.copy()

In [104]:
print(s1)

{3, 4, 5, 6, 9, 10, 13, 14, 15, 16}

In [105]:
s1.clear()

In [106]:
print(s1)

set()

In [109]:
print(s)

{3, 4, 5, 6, 9, 10, 13, 14, 15, 16}

In [110]:
v = {}

print(type(v))

<class 'dict'>

In [111]:
s = set()
print(type(s))

<class 'set'>

In [ ]:
output = 4 + (5/5) * 6 (15/5) # expression
print(output)

In [112]:
t = (5) # epression
print(type(t))

<class 'int'>

In [115]:
t = tuple([5]) # epression
print(type(t), t)

<class 'tuple'> (5,)

In [116]:
t = (5, )
print(type(t))

<class 'tuple'>

In [117]:
methods(s)

add
clear
copy
difference
difference_update
discard
intersection
intersection_update
isdisjoint
issubset
issuperset
pop
remove
symmetric_difference
symmetric_difference_update
union
update

In [118]:
hindi = 65

english = 70

common = 20

In [119]:
s1 = { 1, 2, 3, 4, 5, 6, 7}
s2 = { 5, 6, 7, 8, 9, 10, 11}
s3 = { 12, 15, 18}
s4 = { *s1, *s2, 13, 17, 19}

In [120]:
print(s1, s2, s3, s4, sep='\n')

{1, 2, 3, 4, 5, 6, 7}
{5, 6, 7, 8, 9, 10, 11}
{18, 12, 15}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19}

In [121]:
value = s1.isdisjoint(s2)
print(value)

False

In [122]:
value = s1.isdisjoint(s3)
print(value)

True

In [123]:
print(s1, s2, s3, s4, sep='\n')

{1, 2, 3, 4, 5, 6, 7}
{5, 6, 7, 8, 9, 10, 11}
{18, 12, 15}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19}

In [124]:
value = s1.issubset(s2)
print(value) # False

False

In [126]:
value = s4.issuperset(s2)
print(value) # False

True

In [125]:
value = s2.issuperset(s4)
print(value) # False

False

In [127]:
value = s3.issubset(s4)
print(value)

False

In [129]:
print(s1, s2, s3, s4, sep='\n')

{1, 2, 3, 4, 5, 6, 7}
{5, 6, 7, 8, 9, 10, 11}
{18, 12, 15}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19}

In [130]:
ss = s1.intersection(s2)
print(ss)

{5, 6, 7}

In [131]:
ss = s1.difference(s2)
print(ss)

{1, 2, 3, 4}

In [132]:
ss = s1.union(s2)
print(ss)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [133]:
print(s1, s2, s3, s4, sep='\n')

{1, 2, 3, 4, 5, 6, 7}
{5, 6, 7, 8, 9, 10, 11}
{18, 12, 15}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19}

In [134]:
ss = s1.symmetric_difference(s2)
print(ss)

{1, 2, 3, 4, 8, 9, 10, 11}

In [135]:
methods(set)

add
clear
copy
difference
difference_update
discard
intersection
intersection_update
isdisjoint
issubset
issuperset
pop
remove
symmetric_difference
symmetric_difference_update
union
update

In [137]:
print(1, 2, 3, sep='\n')

1
2
3

In [138]:
print("hello ")
print('world')

hello
world

In [139]:
print("hello ", end='')
print('world')

hello world

#### Set is mutable

In [140]:
print(s1)

{1, 2, 3, 4, 5, 6, 7}

In [141]:
print(s2)

{5, 6, 7, 8, 9, 10, 11}

In [142]:
ns = s1.intersection(s2)
print(ns)

{5, 6, 7}

In [143]:
s1.intersection_update(s2) # inplace update common element in s1

In [144]:
print(s1)

{5, 6, 7}

##### Frozen Set

    Immutable sets

In [145]:
fs = frozenset([1, 2, 3, 1, 2, 3, 4, 1, 2, 34])

In [146]:
print(fs)

frozenset({1, 2, 3, 4, 34})

In [147]:
methods(frozenset)

copy
difference
intersection
isdisjoint
issubset
issuperset
symmetric_difference
union

#### Boolean

    True - yes, satisfied
    
    False - not, not satisfied

In [148]:
True

True

In [149]:
False

False

In [150]:
value  = True

print(type(value))

<class 'bool'>

In [151]:
bool('aldfkj')

True

    False -> 0, None, any empty object, '', [], {}, set(), (), 


    True -> except False values everything is True

In [152]:
bool(0)

False

In [153]:
bool(None)

False

In [154]:
bool('')

False

In [155]:
bool(' ')

True

In [156]:
bool(-1)

True

In [157]:
bool(23)

True

In [158]:
bool([])

False

In [159]:
bool([''])

True

In [160]:
if 0:
    print("i will not print")
else:
    print("i will print because 0 is False")

i will print because 0 is False

#### Type Casting

#### Operators


#### Conditional Statement if-else